#back1{
    position: absolute;
    text-align: center;
    height: 1297px;
    width: 1297px;
    z-index: -1;
}
#avatar li{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#perfil h2{
    margin: 0px 0px 30px 0px;
}
